<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delete Quiz</title>
</head>
<body>
<h3>Please enter the ID of the question which you want to delete:</h3>
</br>

<form th:method="POST" th:action="@{/questions/deleteQuiz}" th:object="${question}">
    <label for="id">Enter ID:</label>
    <input type="number" th:field="*{id}" id="id">
    </br>
    <input type="submit" value="DELETE!"/>
</form>
</body>
</html>