<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Choose your action:</h1>
</br>
</hr>
<div>
    <a th:href="@{/questions/createQuestion}"> CREATE QUESTION </a>
    </br>
    <a th:href="@{/questions/updateQuestion}">UPDATE QUESTION</a>
    </br>
    <a th:href="@{/questions/deleteQuestion}">DELETE QUESTION</a>
    </br>
    </br>
    <a th:href="@{/QuizApp/}">GO TO HOMEPAGE</a>
</div>
</body>
</html>