<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Quiz</title>
</head>
<body>

<form th:method="POST" th:action="@{/quizzes/createQuiz}" th:object="${quiz}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="start">Enter start date: </label>
  <input type="date" th:field="*{startDate}" id="start">
  <br/>
  <label for="finish">Enter finish date: </label>
  <input type="date" th:field="*{finishDate}" id="finish">
  <br/>
  <label for="description">Enter description: </label>
  <input type="text" th:field="*{description}" id="description">
  <br/>
  <input type="submit" value="Create!"/>
</form>
</body>
</html>