<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Take Quiz</title>
</head>
<body>
<form th:method="POST" th:action="@{/quizzes/takeQuiz}" th:object="${userQuestionAnswerDTO}">
    <th:block th:each="entry, stats : *{userQuestionAnswerDTO.answers}">
            <td th:text="${entry.key.name}"></td>
        <td>
<!--            <table>-->
<!--                <tr th:each="value : ${entry.value}">-->
<!--                    <td th:text="${value.questionOption}"></td>-->
<!--                </tr>-->
<!--            </table>-->
            <table>
                <tr th:each="value, stat : *{entry.value}">
                    <td><input type="checkbox" th:field="*{entry[__${stats.index}__].value[__${stat.index}__]}">
                        <label th:text="${value.questionOption}"></label></td>
                </tr>
                </br>
            </table>
        </td>
    </th:block>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>